@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
@model MuseMusic.Controllers.AdminController.CustomerViewModel
<h1>Customer List</h1>
<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Email</th>
            <th>Phone</th>
            <th>Address</th>
            <th>Orders</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Customers)
        {
            <tr>
                <td>@item.CustomerName</td>
                <td>@item.Email</td>
                <td>@item.Phone</td>
                <td>@item.Address</td>
                <td>@item.OrderCount</td>
            </tr>
        }
    </tbody>
</table>
