@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model MuseMusic.Controllers.AdminController.VinylViewModel
<!-- Page Heading -->
<h1 class="h3 mb-2 text-gray-800">Quan ly dia than</h1>
<!-- End Page Heading -->
<!-- DataTales Example -->
<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">List Categories</h6>
    </div>
    <div class="card-body">
        <td>
            <a href="/admin/createcategory" class="btn btn-primary btn-icon-split">
                <span class="icon text-white-50">
                    <i class="fas fa-plus"></i>
                </span>
                <span class="text">Add new Category</span>
            </a>
        </td>
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>DiskId</th>
                        <th>Name</th>
                        <th>Depcription</th>
                        <th>Years</th>
                        <th>Price</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tfoot>                 
                </tfoot>
                <tbody>
                    @foreach (var item in Model.Products)
                    {
                        <tr>
                            <td>@item.DiskId</td>
                            <td>@item.ProductName</td>
                            <td>@item.ProductDescription</td>
                            <td>@item.Years</td>
                            <td>@item.Price</td>
                            <td>
                                <a href="/admin/deleteCategory?id=@item.ProductId" class="btn btn-danger btn-icon-split">
                                    <span class="icon text-white-50">
                                        <i class="fas fa-trash"></i>
                                    </span>
                                    <span class="text">Delete</span>
                                </a>
                                <a href="/admin/updateCategory?id=@item.ProductId" class="btn btn-info btn-icon-split">
                                    <span class="icon text-white-50">
                                        <i class="fas fa-edit"></i>
                                    </span>
                                    <span class="text">Edit</span>
                                </a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>