@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model MuseMusic.Models.ViewModels.AccessoriesViewModel
<main>
    <!-- Accessory Header -->

    <section class="section-padding">

        <img class="accessory-img-top" src="/images/accessory-header.png">

    </section>

    <div class="container">
        <div class="row">

            <div class="accessory-title">
                <h1>TẤT CẢ PHỤ KIỆN:</h1>

            </div>

        </div>
    </div>

    <!--  Accessory List -->

    <div class="accessory-container">
        @foreach (var product in Model.Products)
        {
            <div class="accessory">

                <a href="/Home/AccessoriesDetails/@product.ProductId"><img src="@product.ProductImage"
                        alt="@product.ProductName"></a>
                <h2>@product.ProductName</h2>
                <p>@product.ArtistNames</p>
                <p class="price">@product.Price</p>
                <div class="buttons">
                    <span class="preorder">PREORDER</span>
                </div>
            </div>

        }
    </div>

    <div class="container">
        <div class="pagination">
            @if (Model.CurrentPage > 1)
            {
                <a href="@Url.Action("RecordPlayer", "RecordPlayerView", new { page = Model.CurrentPage - 1 })"
                    class="page-btn">&lt;</a>
            }

            @for (int i = 1; i <= Math.Ceiling((double)Model.TotalProducts / 12); i++)
            {
                if (i == Model.CurrentPage)
                {
                    <span class="page-btn active">@i</span>
                }
                else
                {
                    <a href="@Url.Action("RecordPlayer", "RecordPlayerView", new { page = i })" class="page-btn">@i</a>
                }
            }

            @if (Model.CurrentPage < Math.Ceiling((double)Model.TotalProducts / 12))
            {
                <a href="@Url.Action("RecordPlayer", "RecordPlayerView", new { page = Model.CurrentPage + 1 })"
                    class="page-btn">&gt;</a>
            }
        </div>
    </div>
</main>
