@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model MuseMusic.Models.ViewModels.VinylViewModel
<main>
    @if (ViewBag.Message != null)
    {
        <div class="alert alert-info">
            @ViewBag.Message
        </div>
    }
    <div class="banner" id="templatemo_banner_slide">
        <ul style="width: 100%; position: relative; overflow: hidden; left: -100%; height: 543px;">
            <li class="templatemo_banner_slide_01" style="width: 33.3333%; height: 542.688px;">
                <div class="slide_caption" style="margin-top: 221.344px;">
                    <h1>Responsive Layout</h1>
                    <p>Aenean diam libero, venenatis eu risus eu, tincidunt porttitor orci. Praesent sit amet auctor
                        erat, vitae auctor dolor. Sed viverra nunc magna, quis placerat augue pellentesque quis. Sed nec
                        pellentesque dolor.</p>
                </div>
            </li>
            <li class="templatemo_banner_slide_02" style="width: 33.3333%; height: 542.688px;">
                <div class="slide_caption" style="margin-top: 221.344px;">
                    <h1>HTML5 Web Template</h1>
                    <p>Dragonfruit is another responsive template from templatemo. Nulla consequat mi et lectus vehicula
                        condimentum. Nulla ullamcorper dolor vehicula dolor interdum, eget fermentum ligula bibendum.
                    </p>
                </div>
            </li>
            <li class="templatemo_banner_slide_03" style="width: 33.3333%; height: 542.688px;">
                <div class="slide_caption" style="margin-top: 221.344px;">
                    <h1>Mobile Friendly</h1>
                    <p>Pellentesque luctus ac nunc et hendrerit. Aliquam eu scelerisque eros. Vestibulum scelerisque mi
                        nec augue condimentum rhoncus. Cras fermentum convallis elementum.</p>
                </div>
            </li>
        </ul>
    </div>
    <div class="container">
        <!-- Bên trái -->
        <div class="section left">
            <h2 class="title">ĐẦU ĐĨA ></h2>
            <p class="subtitle">Khám phá ngay</p>
            <a href="/home/record_player" class="image-link">
                <img src="image/dau.png" alt="Đầu Đĩa" class="image">
            </a>
        </div>
        <!-- Bên phải -->
        <div class="section right">
            <h2 class="title">PHỤ KIỆN ></h2>
            <p class="subtitle">Khám phá ngay</p>
            <a href="/home/accessories" class="image-link">
                <img src="image/phu.png" alt="Phụ Kiện" class="image">
            </a>
        </div>
    </div>
    <h1>Đĩa đang còn hàng:</h1>
    <div class="product-container">
        @foreach (var product in Model.Products)
        {
            <div class="product">
                <a href="/Home/VinylDetails/@product.ProductId"><img src="@product.ProductImage" alt="@product.ProductName"></a>
                <h2>@product.ProductName</h2>
                <p>@product.ProductDescription</p>
                <p class="price">@product.Price</p>
                <div class="buttons">
                    <span class="preorder">PREORDER</span>
                    <span class="size">M</span>
                </div>
            </div>
        }
    </div>

    <!-- Xem thêm button: redirect to /home/vinyl -->
    <div class="view-more">
        @if (Model.TotalProducts > Model.CurrentPage * Model.PageSize)
        {
            <a href="/home/vinyl?page=@(Model.CurrentPage + 1)&pageSize=@Model.PageSize">
                <button>Xem thêm</button>
            </a>
        }
    </div>



    <div class="categories">
        <h2>THỂ LOẠI</h2>
        <div class="category-container">
            @if (ViewBag.categories != null)
            {
                foreach (var category in ViewBag.Categories)
                {
                    <div class="category-item">
                        <a href="#"><img src="@category.CategoriesImageUrl" alt="@category.CategoriesName"></a>
                        <p>@category.CategoriesName</p>
                    </div>
                }

            }
        </div>
        <div class="view-more">
            <a href="/home/musicgenre">
                <button>Xem thêm</button>
            </a>
        </div>

        <h2>Nghệ sĩ</h2>
        <div class="category-container">
            @if (ViewBag.Artists != null)
            {
                foreach (var artist in ViewBag.Artists)
                {
                    <div class="category-item2">
                        <a href="#"><img src="@artist.ArtistImageUrl" alt="@artist.ArtistName"></a>
                        <p class="ns">@artist.ArtistName</p>
                    </div>
                }
            }
        </div>
        <div class="view-more">
            @if (Model.TotalProducts > Model.CurrentPage * Model.PageSize)
            {
                <a href="/home/artist">
                    <button>Xem thêm</button>
                </a>
            }
        </div>


        <div class="follow-us">
            <p>Theo dõi Muse tại:</p>
            <div class="social-icons">
                <a href="#" target="_blank">
                    <img src="image/Vector.png" alt="Facebook">
                </a>
                <a href="#" target="_blank">
                    <img src="image/TikTok.png" alt="Instagram">
                </a>
                <a href="#" target="_blank">
                    <img src="image/Subtract.png" alt="TikTok">
                </a>
                <a href="#" target="_blank">
                    <img src="image/ytb.png" alt="YouTube">
                </a>
            </div>
        </div>
    </div>
    <div class="info-container">
        <h4>Muse cam kết:</h4>
        <div class=" info-box-container">
            <div class="info-box">
                <img src="icon1.png" alt="Icon" class="info-icon">
                <div class="info-content">
                    <h3>NHẬN ĐẶT ĐĨA RIÊNG THEO YÊU CẦU</h3>
                    <p>Tìm hiểu thêm</p>
                </div>
            </div>
            <div class="info-box">
                <img src="icon2.png" alt="Icon" class="info-icon">
                <div class="info-content">
                    <h3>SHIP TOÀN QUỐC, FREESHIP ĐƠN HÀNG ĐĨA TỪ 2 TRIỆU ĐỒNG</h3>
                    <p>Tìm hiểu thêm</p>
                </div>
            </div>
            <div class="info-box">
                <img src="icon3.png" alt="Icon" class="info-icon">
                <div class="info-content">
                    <h3>ĐĨA ĐƯỢC BẢO QUẢN CHU ĐÁO</h3>
                    <p>Tìm hiểu thêm</p>
                </div>
            </div>
            <div class="info-box">
                <img src="icon4.png" alt="Icon" class="info-icon">
                <div class="info-content">
                    <h3>VẬN CHUYỂN AN TOÀN, TRÁNH HƯ HẠI ĐĨA</h3>
                    <p>Tìm hiểu thêm</p>
                </div>
            </div>
        </div>
        <div class=" info-box-container">
            <div class="info-box2">
                <img src="image/blog1.png" alt="Thông tin 1" class="info-image">
                <div class="info-content">
                    <h3>NHẬN ĐẶT ĐĨA RIÊNG THEO YÊU CẦU</h3>
                    <p>Tìm hiểu thêm</p>
                </div>
            </div>
            <div class="info-box2">
                <img src="image/blog2.png" alt="Thông tin 2" class="info-image">
                <div class="info-content">
                    <h3>SHIP TOÀN QUỐC, FREESHIP ĐƠN HÀNG ĐĨA TỪ 2 TRIỆU ĐỒNG</h3>
                    <p>Tìm hiểu thêm</p>
                </div>
            </div>
        </div>
    </div>
</main>
