@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model MuseMusic.Models.ViewModels.VinylViewModel
<main>

    <!-- Vinyl navbar -->
    <section class="section-padding">
        <div class="container">
            <div class="row align-items-center">

                <div class="vinyl-title">
                    <a href="#">ĐĨA THAN</a>

                    <a href="#">ĐẦU ĐĨA</a>

                    <a href="#">PHỤ KIỆN</a>

                </div>


            </div>
        </div>
    </section>

    <section class="">
        <div class="container">
            <div class="vinyl-header">
                <div class="overlay">
                    <h1>ĐĨA THAN</h1>
                    <p>Không biết lựa chọn gì? Hãy để Muse giúp bạn!<br>Khám phá thế giới âm nhạc theo:</p>
                    <nav>
                        <a href="#">THỂ LOẠI</a>
                        <a href="#">NGHỆ SĨ</a>
                        <a href="#">THỜI KÌ</a>
                        <a href="#">TÂM TRẠNG</a>
                    </nav>
                </div>
  </div>
        </div>
    </section>

    <!-- Filter -->
    <section class="section-padding">
        <div class="container">
            <div class="row align-items-center">
                <!-- Block Filter -->
                <div class="vinyl-filter">

                    <div class="col-lg-3 col-12">
                        <div class="single-filter">
                            <h3>J-POP</h3>
                        </div>
                    </div>

                    <div class="col-lg-3 col-12">
                        <div class="single-filter">
                            <h3>NGHỆ SĨ</h3>
                        </div>
                    </div>

                    <div class="col-lg-3 col-12">
                        <div class="single-filter">
                            <h3>THỜI KÌ</h3>
                        </div>
                    </div>

                    <div class="col-lg-3 col-12">
                        <div class="single-filter">
                            <h3>TÂM TRẠNG</h3>
                        </div>
                    </div>

                    <div class="col-lg-3 col-12">
                        <div class="single-filter">
                            <h3>HÃNG PHÁT HÀNH</h3>
                        </div>
                    </div>

                    <div class="col-lg-3 col-12">
                        <div class="single-filter">
                            <h3>NĂM PHÁT HÀNH</h3>
                        </div>
                    </div>

                    <div class="col-lg-3 col-12">
                        <div class="single-filter">
                            <h3>TÌNH TRẠNG ĐĨA</h3>
                        </div>
                    </div>

                    <div class="col-lg-3 col-12">
                        <div class="single-filter">
                            <h3>TÌNH TRẠNG KHO</h3>
                        </div>
                    </div>
                </div>

                <!-- Dropdown Filter -->
                <div class="filter-dropdown">
                    <div class="single-filter-dropdown">
                        <h4>SẮP XẾP BỞI: </h4>
                        <select class="filter-select">
                            <option value="1">THỨ TỰ MẶC ĐỊNH</option>
                            <option value="2">MOI NHAT</option>
                            <option value="3">LAU NHAT</option>
                        </select>
                    </div>
                    <div class="single-filter-dropdown">
                        <h4>HIỂN THỊ: </h4>
                        <select class="filter-select">
                            <option value="1">01 - 12</option>
                            <option value="2">12-30</option>
                            <option value="3">30-40</option>
                        </select>
                    </div>

                </div>

            </div>
    </section>

    <div class="product-container">
    <!--  Product List -->
        @foreach (var product in Model.Products)
        {
                <div class="product">
                    <a href="/Home/VinylDetails?id=@product.ProductId"><img src="@product.ProductImage" alt="@product.ProductName"></a>
                    <h2>@product.ProductName
                    </h2>
                    <p>@product.ArtistNames</p>
                    <p class="price">@product.Price</p>
                    <div class="buttons">
                        <span class="preorder">PREORDER</span>
                        <span class="size">M</span>
                    </div>
                </div>       
        }
    </div>
    <div class="container">
        <div class="pagination">
             <button class="page-btn active">1</button>
            @* <button class="page-btn">2</button>
    <button class="page-btn">3</button> *@
                <span>...</span>
            @* <button class="page-btn">201</button>
    <button class="page-btn">202</button>
    <button class="page-btn">203</button> *@
             <button class="page-btn next">&gt;</button>
    </div>
    </div>
    
</main>