@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
@model MuseMusic.Controllers.AdminManagement.VinylManagement.VinylController.VinylViewModel
<main class="content2">
    <h1>QUẢN LÝ ĐĨA THAN</h1>
    <div class="search-bar2">
        <input type="text" placeholder="Tìm kiếm..." style="margin: 10px;width: 250px;
height: 38px;border: 1px solid #000; padding: 10px; margin-left: -2px;">
        <button class="god">Xóa sản phẩm</button>
        <button class="deka" onclick="window.location.href='/admin/addvinyl'">Thêm sản phẩm</button>
    </div>
    <table class="table table-striped">
        <thead>
            <tr class="table-dark">
                <th>DiskId</th>
                <th>Tên sản phẩm</th>
                <th>Nghệ sĩ</th>
                <th>Hãng sản xuất</th>
                <th>Thể loại</th>
                <th>Tâm trạng</th>
                <th>Số lượng</th>
                <th>Ngày nhập</th>
                <th>Giá</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Products)
            {
                <tr>
                    <td>@item.DiskId</td>
                    <td>@item.ProductName</td>
                    <td>@item.ArtistNames</td>
                    <td>@item.BrandName</td>
                    <td>@item.CategoriesName</td>
                    <td>@item.MoodNames</td>
                    <td>@item.ProductQuantity</td>
                    <td>@item.Years</td>
                    <td>$@item.Price</td>
                    <td>
                        <input type="checkbox">
                        <button class="butt" onclick="window.location.href='/admin/editvinyl/@item.ProductId'">Edit</button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <div class="pagination">
        <button class="page-btn active">1</button>
        @* <button class="page-btn">2</button>
    <button class="page-btn">3</button> *@
        <span>...</span>
        @* <button class="page-btn">201</button>
    <button class="page-btn">202</button>
    <button class="page-btn">203</button> *@
        <button class="page-btn next">&gt;</button>
    </div>
    <div class="pagination2">
        <span>HIỂN THỊ:</span>
        <span class="page-item">01-12</span>
    </div>
</main>